<div class="col-lg-2 col-md-4 col-xs-6">
	<div class="small-box bg-{{ profileLabelColor }}">
		<div class="inner">
			<h3>{{ profile }}</h3>

			<p>{{ 'Public profile' | trans([], 'edk') }}</p>
		</div>
		<div class="icon">
			<i class="fa fa-info"></i>
		</div>
	</div>
</div>
<div class="col-md-4 col-xs-6">
	<div class="small-box bg-green">
		<div class="inner">
			<h3>{{ date }}</h3>

			<p>{{ 'Pray time' | trans([], 'public') }}</p>
		</div>
		<div class="icon">
			<i class="fa fa-calendar"></i>
		</div>
	</div>
</div>