{% extends 'CantigaCoreBundle:layout:list-map-layout.html.twig' %}

{% block data_map %}
    <div id="map-canvas" style="height:400px;width:100%"></div>
{% endblock %}

{% block stylesheets_map %}
	<link rel="stylesheet" href="{{ map.olCssUrl }}"/>
	<link rel="stylesheet" href="{{ map.olPopupCssUrl }}"/>
{% endblock %}

{% block javascripts_map %}
	<script src="{{ map.olJsUrl }}"></script>
	<script src="{{ map.olPopupJsUrl }}"></script>
	<script src="{{ asset('js/maps.js') }}"></script>
	<script>
		jQuery.ajax({
			dataType: 'json',
			success: function (places) {
				maps.renderFromPlaces('map-canvas', places);
			},
			url: '{{ spath(ajaxListMap) }}'
		});
	</script>
{% endblock %}

{% block data_filter %}
    {% include 'CantigaCoreBundle:Filter:area-request-filter.html.twig' with { 'filter': filter, 'filterForm': filterForm } only %}
{% endblock %}

{% block column_list %}
    <tr>
        <th width="30">#</th>
        <th>{{ 'Name' | trans }}</th>
        <th width="130">{{ 'Territory' | trans }}</th>
        <th width="200">{{ 'Requestor' | trans }}</th>
        <th width="120">{{ 'Status' | trans }}</th>
        <th width="120">{{ 'Comments' | trans }}</th>
        <th width="80">{{ 'Actions' | trans({}, 'general') }}</th>
    </tr>
{% endblock %}

{% block custom_datatable_config %}
    ajax: "{{ spath(ajaxListPage, filter.createParamArray()) | raw }}",
    columnDefs: [
    {{ dt_col_link(dataTable, 'name', 'info_link') }}
    {{ dt_col_label(dataTable, 'status', 'statusText', 'statusLabel') }}
    {{ dt_actions(dataTable, [
    { 'link': 'info_link', 'name': 'Info' | trans({}, 'general'), 'label': 'btn-primary' },
    { 'link': 'remove_link', 'name': 'Remove' | trans({}, 'general'), 'label': 'btn-danger', 'when': 'removable' }
    ]) }}
    ]
{% endblock %}
