{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}
{% import "CantigaCoreBundle:layout:macros.html.twig" as macro %}

{% block page_title %}
    {{ 'AreaRequest: 0' | trans([item.name]) }}
{% endblock %}

{% block page_subtitle %}
    {{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ item.name }}</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ spath('project_area_request_index') }}" class="btn btn-default btn-sm">
                            <i class="fa fa-fa-arrow-circle-o-left"></i> {{ 'Request list' | trans([], 'requests') }}
                        </a>
                        {% if custom.actions %}
                            {% for action in custom.actions %}
                                <a class="btn btn-{{ action.type }} btn-sm"
                                   href="{{ spath(action.route, action.args) }}"><i
                                            class="fa fa-{{ action.ico }}"></i> {{ action.name }}</a>
                            {% endfor %}
                        {% endif %}
                        {% if item.canRemove() %}
                            <a class="btn btn-danger btn-sm"
                               href="{{ spath('project_area_request_remove', {'id' : item.id }) }}"><i
                                        class="fa fa-trash"></i> {{ 'Remove' | trans({}, 'general') }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-lg-3 col-md-6">
                        <strong><i class="fa fa-plus"></i> {{ 'Created at' | trans({}, 'messages') }}</strong>
                        <p>{{ format_time(TimeFormatter.FORMAT_DATE_LONG, item.createdAt) }}
                            ({{ ago(item.createdAt) }}) </br>
                            <a href="{{ spath('memberlist_profile', {'id': item.requestor.id }) }}">
                                {{ item.requestor.name }}
                            </a>
                        </p>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <strong><i class="fa fa-pencil"></i> {{ 'Last update' | trans }}</strong>
                        <p>{{ format_time(TimeFormatter.FORMAT_LONG, item.lastUpdatedAt) }}
                            ({{ ago(item.lastUpdatedAt) }})</p>
                        <strong><i class="fa fa-globe"></i> {{ 'Territory' | trans }}</strong>
                        <p>{{ item.territory.name }}</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        {% if item.verifier %}
                            <strong><i class="fa fa-user"></i> {{ 'Verifier' | trans }}</strong>
                            <p>
                                <a href="{{ spath('memberlist_profile', {'id': item.verifier.id }) }}">
                                    {{ item.verifier.name }}
                                </a>
                            </p>
                        {% endif %}
                        {% if item.responsible %}
                            <strong><i class="fa fa-user"></i> {{ 'Responsible' | trans }}</strong>
                            <p>
                                <a href="{{ spath('memberlist_profile', {'id': item.responsible.id }) }}">
                                    {{ item.responsible.name }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-6 no-padding">
                        <div class="info-box bg-{{ item.getStatusLabel() }} no-margin">
                            <span class="info-box-icon"><i class="fa fa-{{ item.getStatusIcon() }}"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ 'Status' | trans({}, 'general') }}</span>
                                <span class="progress-description">{{ item.getStatusText() | trans({}, 'statuses') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ppp">
        <div class="col-lg-7 col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#request-info" aria-controls="request-info" role="tab"
                                          data-toggle="tab">{{ 'Request information' | trans }}</a></li>
                    <li><a href="#requestor" aria-controls="requestor" role="tab"
                           data-toggle="tab">{{ 'Requestor' | trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="request-info">
                        <table class="table table-hover">
                            <tbody>
                            {% include custom.summary.template with { 'summary': custom.summary, 'item': item } only %}
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="requestor">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-widget widget-user-2">
                                    <div class="widget-user-header bg-primary">
                                        <div class="widget-user-image">
                                            <img class="img-circle" src="{{ asset(avatar(item.requestor)) }}"
                                                 alt="User profile picture">
                                        </div>
                                        <h3 class="widget-user-username">{{ item.requestor.name }}</h3>
                                        <h5 class="widget-user-desc">{{ 'Last visit' | trans }}
                                            : {% if item.requestor.lastVisit %}{{ format_time(TimeFormatter.FORMAT_DATE_SHORT, item.requestor.lastVisit) }}{% else %} - {% endif %}</h5>

                                    </div>
                                    {% if membership.showDownstreamContactData and item.contactData %}
                                        <div class="box-footer no-padding">
                                            <table class="table table-hover">
                                                <tbody>

                                                <tr>
                                                    <td width="30%">{{ 'E-mail' | trans([], 'users') }}</td>
                                                    <td>
                                                        <a href="mailto:{{ item.contactData.email }}">{{ item.contactData.email }}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="30%">{{ 'Phone number' | trans([], 'users') }}</td>
                                                    <td>{{ item.contactData.telephone }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="30%">{{ 'About' | trans([], 'users') }}</td>
                                                    <td>{{ item.contactData.notes }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xs-12">
            {{ macro.chat_box('Feedback' | trans, 'feedback', item.canComment()) }}
        </div>
        {% if custom.text %}
            <div class="col-lg-5 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <p class="lead">{{ 'CustomTextDisplayedToThisRequest' | trans }}
                            {{ custom.text.content | raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/chatbox.js') }}"></script>
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ppp').chatbox({
                chatboxSummary: '#feedback-summary',
                chatboxBody: '#feedback-body',
                chatboxForm: '#feedback-form',
                chatboxFeedUrl: '{{ spath('project_area_request_ajax_feed', {'id': item.id} ) }}',
                chatboxPostUrl: '{{ spath('project_area_request_ajax_post', {'id': item.id} ) }}',
                avatars: '{{ asset('ph') }}',
                isPreviewMode: {{ item.canComment() ? 'false' : 'true' }},
            });
        });
    </script>
{% endblock %}