{% extends 'CantigaCoreBundle:layout:login-layout.html.twig' %}

{% block javascripts_head %}
	<script src="{{ recaptcha_api_url }}"></script>
{% endblock %}


{% block page_content %}
	{% include 'CantigaCoreBundle:layout:flash.html.twig' %}
    <div class="register-box">
		<div class="register-logo">
				<img src="{{ asset(Branding.LOGO_FILE) }}" width="42" />
				<a href="{{ path('cantiga_auth_login') }}">{{ Branding.APP_NAME }}</a>
		</div><!-- /.login-logo -->
		<div class="register-box-body">
			{{ form_start(form) }}
			<p class="login-box-msg">{{ 'Create a new user account' | trans }}</p>


            {{ form_errors(form) }}

			<div class="form-group has-feedback">
                {{ form_widget(form.name) }}
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
                {{ form_errors(form.name) }}
			</div>
			<div class="form-group has-feedback">
                {{ form_widget(form.login) }}
				<span class="glyphicon glyphicon-tag form-control-feedback"></span>
                {{ form_errors(form.login) }}
			</div>
			<div class="form-group has-feedback">
                {{ form_widget(form.email) }}
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                {{ form_errors(form.email) }}
			</div>
			<div class="form-group has-feedback">
                {{ form_widget(form.password) }}
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {{ form_errors(form.password) }}
			</div>
			<div class="form-group has-feedback">
                {{ form_widget(form.repeatPassword) }}
				<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                {{ form_errors(form.repeatPassword) }}
			</div>
			<div class="form-group has-feedback">
                {{ form_widget(form.language) }}
				<span class="glyphicon glyphicon-globe form-control-feedback"></span>
                {{ form_errors(form.language) }}
			</div>
			<div class="form-group has-feedback">
                {{ recaptcha.generateHtmlCode() | raw }}
			</div>
			<div class="row">
				<div class="col-xs-12">
                    {{ form_row(form.acceptTermsOfUse) }}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
                    {{ form_row(form.allowPersonalData) }}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
                    {{ form_row(form.marketingAgreement) }}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-7">
					<button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'Register' | trans }}</button>
				</div>
			</div>
			<p class="login-box-msg" style="padding-top:20px">
				<a href="{{ termsOfUseUrl | raw }}" target="_blank">{{ 'Terms of use' | trans }}</a> &bull;
				<a href="{{ path('cantiga_auth_login') }}" class="text-center">{{ 'Back to login' | trans }}</a>
			</p>
            {{ form_end(form) }}

			<small>{{ personalDataInfo | raw }}</small>
		</div>
	</div>
{% endblock %}