{% extends 'CantigaCoreBundle:layout:login-layout.html.twig' %}

{% block page_content %}
    <div class="register-box">
		<div class="register-logo">
				<img src="{{ asset(Branding.LOGO_FILE) }}" width="42" />
				<a href="{{ path('cantiga_auth_login') }}">{{ Branding.APP_NAME }}</a>
		</div><!-- /.login-logo -->
		<div class="register-box-body">
			<a class="btn btn-primary btn-lg btn-block btn-flat" href="{{ path('cantiga_auth_login') }}">{{ 'User existe' | trans }}</a>
			<a class="btn btn-primary btn-lg btn-block btn-flat" href="{{ path('cantiga_auth_register') }}">{{ 'Create user' | trans }}</a>
		</div>
	</div>
{% endblock %}