{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}
{% import "CantigaCoreBundle:layout:macros.html.twig" as macro %}

{% block page_title %}
    {{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
    {{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ item.name }}</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ spath('user_area_request_index') }}" class="btn btn-default btn-sm">
                            <i class="fa fa-fa-arrow-circle-o-left"></i> {{ 'Back' | trans([], 'general') }}
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ path('user_area_request_edit', {'id': item.id }) }}"><i
                                    class="fa fa-pencil"></i> {{ 'Edit' | trans({}, 'general') }}</a>
                        {% if item.canRemove() %}
                            <a class="btn btn-danger btn-sm"
                               href="{{ spath('user_area_request_remove', {'id' : item.id }) }}"><i
                                        class="fa fa-trash"></i> {{ 'Remove' | trans({}, 'general') }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-lg-3 col-md-6">
                        <strong><i class="fa fa-plus"></i> {{ 'Request date' | trans }}</strong>
                        <p>{{ format_time(TimeFormatter.FORMAT_DATE_LONG, item.createdAt) }}
                            ({{ ago(item.createdAt) }})
                        </p>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <strong><i class="fa fa-pencil"></i> {{ 'Last update' | trans }}</strong>
                        <p>{{ format_time(TimeFormatter.FORMAT_LONG, item.lastUpdatedAt) }}
                            ({{ ago(item.lastUpdatedAt) }})</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <strong><i class="fa fa-globe"></i> {{ 'Territory' | trans }}</strong>
                        <p>{{ item.territory.name }}</p>
                    </div>
                    <div class="col-lg-3 col-md-6 no-padding">
                        <div class="info-box bg-{{ item.getStatusLabel() }} no-margin">
                            <span class="info-box-icon"><i class="fa fa-{{ item.getStatusIcon() }}"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ 'Status' | trans({}, 'general') }}</span>
                                <span class="progress-description">{{ item.getStatusText() | trans({}, 'statuses') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ppp">
        <div class="col-md-6 col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#request-info" aria-controls="request-info" role="tab"
                                          data-toggle="tab">{{ 'Request information' | trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="request-info">
                        <table class="table table-hover">
                            <tbody>
                            {% include custom.summary.template with { 'summary': custom.summary, 'item': item } only %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            {{ macro.chat_box('Chat' | trans, 'feedback', item.canComment()) }}
        </div>
        {% if custom.text %}
            <div class="col-md-6 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        {{ custom.text.content | raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/chatbox.js') }}"></script>
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ppp').chatbox({
                chatboxSummary: '#feedback-summary',
                chatboxBody: '#feedback-body',
                chatboxForm: '#feedback-form',
                chatboxFeedUrl: '{{ path('user_area_request_ajax_feed', {'id': item.id} ) }}',
                chatboxPostUrl: '{{ path('user_area_request_ajax_post', {'id': item.id} ) }}',
                avatars: '{{ asset('ph') }}',
                isPreviewMode: {{ item.canComment() ? 'false' : 'true' }},
            });
        });
    </script>
{% endblock %}