{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ 'Request a new area' | trans([], 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		{% for area in availableAreas %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="{{ path('user_area_request_continue', { 'step': 1, 'projectId': defaultProjectId, 'areaId': area.id } ) }}">
					<div class="small-box bg-purple">
						<div class="inner">
							<h3>{{ area.name }}</h3>
							<p>{{ area.territory_name }}</p>
						</div>
						<div class="icon">
							<i class="fa fa-play-circle-o"></i>
						</div>
						<div class="small-box-footer">
							{{ 'ContinueArea' | trans([], 'dashboard') }} <i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		{% for project in availableProjects %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="{{ path('user_area_request_create', { 'step': 2, 'projectId': project.id } ) }}">
					<div class="small-box bg-blue">
						<div class="inner">
							<h3>{{ project.name }}</h3>
							<p>{{ project.description }}</p>
						</div>
						<div class="icon">
							<i class="fa fa-plus-square-o"></i>
						</div>
						<div class="small-box-footer">
							{{ 'RegisterAreaText' | trans([], 'dashboard') }} <i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}