		<div class="col-lg-12">
			<ul class="nav nav-pills nav-justified thumbnail setup-panel">
				<li{% if currentStep == 1 %} class="active"{% elseif disablePrevious %} class="disabled hidden-xs"{% else %} class="hidden-xs"{% endif %}>
					<a{% if currentStep > 1 and not disablePrevious %} href="{{ spath('user_area_request_create', {step: 1 }) }}"{% endif %}>
						<h4 class="list-group-item-heading">{{ 'ProjectText' | trans([], 'requests') }}</h4>
						<p class="list-group-item-text">{{ 'Step 1' | trans([], 'requests') }}</p>
					</a></li>
				<li{% if currentStep == 2 %} class="active"{% elseif currentStep < 2 or disablePrevious %} class="disabled hidden-xs"{% else %} class="hidden-xs"{% endif %}>
					<a{% if currentStep > 2 and not disablePrevious %} href="{{ spath('user_area_request_create', {step: 2, projectId: projectId }) }}"{% endif %}>
						<h4 class="list-group-item-heading">{{ 'ProvideAreaInfoText' | trans([], 'requests') }}</h4>
						<p class="list-group-item-text">{{ 'Step 2' | trans([], 'requests') }}</p>
					</a></li>
				<li{% if currentStep == 3 %} class="active"{% elseif currentStep < 3 or disablePrevious %} class="disabled hidden-xs"{% else %} class="hidden-xs"{% endif %}>
					<a{% if currentStep > 3 and not disablePrevious %} href="{{ spath('user_area_request_create', {step: 3, projectId: projectId }) }}"{% endif %}>
						<h4 class="list-group-item-heading">{{ 'ProvideContactDataText' | trans([], 'requests') }}</h4>
						<p class="list-group-item-text">{{ 'Step 3' | trans([], 'requests') }}</p>
					</a></li>
				<li{% if currentStep == 4 %} class="active"{% elseif currentStep < 4 or disablePrevious %} class="disabled hidden-xs"{% else %} class="hidden-xs"{% endif %}><a>
						<h4 class="list-group-item-heading">{{ 'WaitForVerificationText' | trans([], 'requests') }}</h4>
						<p class="list-group-item-text">{{ 'Step 4' | trans([], 'requests') }}</p>
					</a></li>
			</ul>
		</div>
