{% extends 'CantigaCoreBundle:layout:list-layout.html.twig' %}

{% block box_header %}
    <i class="fa fa-lightbulb-o"></i>
    <h3 class="box-title">{{ 'admin.materials_files.title_category' | trans({ '%name%': category.name }) }}</h3>
{% endblock %}

{% block column_list %}
    <tr>
        <th width="30">#</th>
        <th>{{ 'admin.materials.name' | trans }}</th>
        <th width="120">{{ 'admin.actions' | trans }}</th>
    </tr>
{% endblock %}

{% block box_footer %}
    <a href="{{ path('admin_materials_category_info', { id: category.id }) }}" class="btn btn-default btn-sm"
       role="button">
        {{ 'admin.back' | trans }}
    </a>
    <a href="{{ path('admin_materials_file_insert', { categoryId: category.id }) }}" class="btn btn-success btn-sm"
        role="button">
        {{ 'admin.insert' | trans }}
    </a>
{% endblock %}

{% block custom_datatable_config %}
    ajax: "{{ path('admin_materials_file_ajax_list', { categoryId: category.id }) }}",
    columnDefs: [
        {{ dt_col_link(dataTable, 'name', 'info_link') }}
        {{ dt_actions(dataTable, [
            { link: 'info_link', name: 'admin.info' | trans, label: 'btn-primary' },
            { link: 'edit_link', name: 'admin.edit' | trans, label: 'btn-primary' },
            { link: 'remove_link', name: 'admin.remove' | trans, label: 'btn-danger' },
        ]) }}
    ]
{% endblock %}