			<div class="col-lg-4 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-{{bgcolor}}"><i class="fa fa-home"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">{{ 'Your status' | trans }}</span>
						<span class="info-box-number">{{ area.status.name }}</span>
						<span class="info-box-text"><a href="{{ spath(mygroup) }}"> {{ 'Your group' | trans }} {% if area.group %}{{ area.group.name }}{% else %} {% endif %}</a></span>
					</div>
				</div>
			</div>
