{% extends 'CantigaCoreBundle:layout:common-layout.html.twig' %}

{% block box_header %}
    <h4>{{ 'Edit area: 0' | trans([item.name]) }}</h4>
{% endblock %}

{% block box_body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="col-xs-12">
                {{ form_row(form.name) }}
            </div>
            {% if customizableGroup %}
                <div class="col-xs-12">
                    {{ form_row(form.group) }}
                </div>
            {% endif %}
            <div class="col-xs-12">
                {{ form_row(form.territory) }}
            </div>
        </div>
        {% if customizableGroup %}
            <div class="col-md-6">
                <div class="col-xs-12">
                    {{ form_row(form.status) }}
                </div>
                <div class="col-xs-12">
                    {{ form_row(form.contract) }}
                </div>
                <div class="col-xs-12">
                    {{ form_row(form.stationaryTraining) }}
                </div>
            </div>
        {% endif %}
    </div>
    {% include formRenderer.template with { 'formRenderer': formRenderer, 'form': form } only %}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts_inline %}
    {{ use_icheck() }}
{% endblock %}