{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
    {{ pageTitle | trans({}, 'pages') }}
{% endblock %}

{% block page_subtitle %}
    {{ pageSubtitle | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ item.name }}</h3>
                    <div class="box-tools pull-right">
                        <a href="{{ spath('area_mgmt_index') }}" class="btn btn-default btn-sm">
                            <i class="fa fa-fa-arrow-circle-o-left"></i> {{ 'Back' | trans([], 'general') }}
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ spath('area_mgmt_edit', {'id': item.id }) }}"><i
                                    class="fa fa-pencil"></i> {{ 'Edit' | trans({}, 'general') }}</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="fa fa-bars"></i></button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="{{ spath('downstream_membership_index', {'id': item.id, 'placeType': 'area' }) }}">{{ 'Members' | trans({}, 'general') }}</a>
                                </li>
                                {{ macro.render_context_menu(custom.links) }}

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-lg-3 col-md-6">
                        <strong><i class="fa fa-calendar margin-r-5"></i> {{ 'Extreme Way date' | trans([], 'public') }}</strong>
                        <p>{{ format_time(TimeFormatter.FORMAT_DATE_LONG, item.eventDate) }}</p>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <p>
                            <strong><i class="fa fa-globe"></i> {{ 'Territory' | trans }}</strong>
                            {{ item.territory.name }}
                        </p>
                        <p>
                            <strong><i class="fa fa-flag-o"></i> {{ 'Group' | trans }}</strong>
                            {% if item.group %}<a
                                href="{{ spath('group_mgmt_info', {'id': item.group.id}) }}">{{ item.group.name }}</a>
                            {% else %}
                                <em>{{ 'GroupUnassigned' | trans }}</em>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <p>
                            <strong><i class="fa fa-graduation-cap"></i> {{ 'Stationary Training' | trans }} </strong>
                            {% if item.stationaryTraining %}
                                <i class="fa fa-check"></i>
                            {% else %}
                                <i class="fa fa-close"></i>
                            {% endif %}

                        </p>
                        <p>
                            <strong><i class="fa fa-file-text"></i> {{ 'Contract' | trans }}</strong>
                            {% if item.contract %}
                                <i class="fa fa-check"></i>
                            {% else %}
                                <i class="fa fa-close"></i>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 no-padding">
                        <div class="info-box bg-{{ item.status.label }} no-margin">
                            <span class="info-box-icon"><i class="fa fa-home"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ 'Status' | trans({}, 'general') }}</span>
                                <span class="progress-description">{{ item.status.name | trans({}, 'statuses') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ppp">
        <div class="col-lg-6 col-xs-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#request-info" aria-controls="request-info" role="tab"
                                          data-toggle="tab">{{ 'Area information' | trans }}</a></li>
                    <li><a href="#members" aria-controls="members" role="tab"
                           data-toggle="tab">{{ 'Members' | trans([], 'general') }}</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="request-info">
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-{{ custom.progressBarColor }}" role="progressbar"
                                 aria-valuenow="{{ item.percentCompleteness }}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{ item.percentCompleteness }}%">
                                <span class="sr-only">{{ item.percentCompleteness }}%</span>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <tbody>
                            {% include custom.summary.template with { 'summary': custom.summary, 'item': item } only %}
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="members">
                        <table class="table table-hover" id="member-table">
                            <thead>
                            <tr>
                                <th width="32"></th>
                                <th>{{ 'Name' | trans }}</th>
                                <th width="20%">{{ 'Location' | trans([], 'users') }}</th>
                                <th width="20%">{{ 'Function' | trans([], 'users') }}</th>
                                <th width="20%">{{ 'E-mail' | trans([], 'users') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            {{ macro.chat_box('Chat' | trans, 'feedback', 'true', '') }}
            {{ custom.extensions | raw }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/jquery-ui.min.js') }}"></script>#}
    <script src="{{ asset('js/members-display.js') }}"></script>
    <script src="{{ asset('js/chatbox.js') }}"></script>
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#member-table').membersDisplay({
                url: '{{ spath(ajaxMembersPage, {'id': item.id}) }}',
                table: '#member-table',
                tab: 'members',
                avatars: '{{ asset('ph') }}'
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ppp').chatbox({
                chatboxSummary: '#feedback-summary',
                chatboxBody: '#feedback-body',
                chatboxForm: '#feedback-form',
                chatboxFeedUrl: '{{ spath('area_chat_ajax_feed', {'id': item.id} ) }}',
                chatboxPostUrl: '{{ spath('area_chat_ajax_post', {'id': item.id} ) }}',
                avatars: '{{ asset('ph') }}',
                isPreviewMode: false,
            });
        });
    </script>
{% endblock %}