{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
	{{ member.name }}
{% endblock %}

{% block page_subtitle %}
	{{ 'View member profile' | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="box box-primary">
				<div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="{{ asset(avatar(member)) }}" alt="av">
					<h3 class="profile-username text-center">{{ member.name }}</h3>
					<p class="text-muted text-center">{% if member.memberInfo.note %}{{ member.memberInfo.note }}{% else %}&nbsp;{% endif %}</p>
					<ul class="list-group list-group-unbordered">
						{% if member.contactMail %}
							<li class="list-group-item">{{ 'E-mail' | trans([], 'users' ) }} <span class="pull-right"><a href="mailto:{{ member.contactMail }}">{{ member.contactMail }}</a></span></li>
						{% endif %}
						{% if member.contactTelephone %}
							<li class="list-group-item">{{ 'Phone number' | trans([], 'users' ) }} <span class="pull-right">{{ member.contactTelephone }}</span></li>
						{% endif %}
						<li class="list-group-item">{{ 'Role' | trans([], 'users' ) }} <span class="pull-right">{{ member.memberInfo.role.name | trans }}</span></li>
						<li class="list-group-item">{{ 'Location' | trans([], 'users' ) }} <span class="pull-right">{{ member.location }}</span></li>
						<li class="list-group-item">{{ 'Last visit' | trans([], 'users' ) }} <span class="pull-right">{{ ago(member.lastVisit) }}</span></li>
					</ul>
					{% if member.notes %}
						<strong><i class="fa fa-file-text-o margin-r-5"></i> {{ 'About' | trans([], 'users') }}</strong>
						<p>{{ member.notes }}</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					{% for extension in extensions %}
					<li{% if loop.first %} class="active"{% endif %}><a href="#{{ extension.tabHashtag }}" data-toggle="tab">{{ extension.tabTitle }}</a></li>
					{% endfor %}
				</ul>
				<div class="tab-content">
					{% for extension in extensions %}
					<div class="{% if loop.first %}active {% endif %}tab-pane" id="{{ extension.tabHashtag }}">
						{{ extension.tabContent(member) | raw }}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts_inline %}
	{{ use_icheck() }}
{% endblock %}
