{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_content %}
    {% for category in categories %}
        {% if category.questionsByLevel(level)|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border faq-header">
                            <h3 class="box-title">
                                <i class="fa fa-fw fa-question-circle"></i>
                                {% if categoryRouteName is defined and slug is defined %}
                                    <a href="{{ path(categoryRouteName, {id: category.id, slug: slug}) }}">
                                        {{ category.name }}
                                    </a>
                                {% else %}
                                    {{ category.name }}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="box-body">
                            <div class="box-group faq-body" id="accordion-{{ category.id }}">
                                {% for question in category.questionsByLevel(level, false) %}
                                    <div class="box-header with-border">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion-{{ category.id }}"
                                                   href="#collapse-{{ category.id }}-{{ question.id }}"
                                                   aria-expanded="false"
                                                   class="collapsed faq-link">{{ question.topic }}</a>
                                                <a data-toggle="collapse" data-parent="#accordion-{{ category.id }}"
                                                   href="#collapse-{{ category.id }}-{{ question.id }}"
                                                   aria-expanded="false" class="collapsed faq-button">
                                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                    <i class="fa fa-times faq-cross" aria-hidden="true"></i></a>
                                            </h4>
                                        </div>
                                        <div id="collapse-{{ category.id }}-{{ question.id }}"
                                             class="collapse" aria-expanded="false" style="height:0">
                                            <div class="box-body">
                                                <h5>{{ 'Answer' | trans({}, 'general') }}</h5>
                                                <p>{{ question.answer|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/faq.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/faq.js') }}"></script>
{% endblock %}