{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_title %}
    {{ place.name }}
{% endblock %}

{% block page_subtitle %}
    {{ (place.typeName~'TypeSubtitle') | trans({}, 'pages') }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ signature.agreement.title }}</h3>
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row" style="display:flex">
        <div class="col-md-6">
            <div class="box box-solid" style="height:calc(100% - 20px)">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-user"></i> {{ 'PersonalDataText' | trans({}, 'dashboard') }}
                    </h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.town) }}
                    {{ form_row(form.zipCode) }}
                    {{ form_row(form.street) }}
                    {{ form_row(form.houseNo) }}
                    {{ form_row(form.flatNo) }}
                    {{ form_row(form.pesel) }}
                    {{ form_row(form.placeOfBirth) }}
                    {{ form_row(form.signature) }}
                    {{ form_row(form.accept) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid" style="height:calc(100% - 20px)">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-file-text"></i> {{ 'AgreementsContentText' | trans({}, 'dashboard') }}
                    </h3>
                </div>
                <div class="box-body">
                    {% if signature.agreement.content %}
                        <div style="white-space:pre-wrap">{{ signature.agreement.content }}</div>
                    {% endif %}
                    {% if signature.agreement.url %}
                        <div>
                            <a href="{{ signature.agreement.url }}" target="_blank">
                                {{ 'AgreementsContentText' | trans([], 'dashboard') }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
