{% extends 'WioEdkBundle:Public:layout.html.twig' %}

{% block title %}{{ 'Check registration' | trans([], 'public') }} - {{ 'Extreme Way of the Cross' | trans([], 'public') }}{% endblock %}

{% block javascripts_head %}
	<script src="{{ recaptcha_api_url }}"></script>
{% endblock %}

{% block page_content %}
<div>
	<h2>{{ 'Check your registration' | trans([], 'public') }}</h2>
	
	<p>{{ 'CheckYourRegistrationText' | trans([], 'public') }}</p>

    {{ form_start(form) }}
		{{ form_row(form.k) }}
		{{ form_row(form.t) }}
		<div class="form-group">
			{{ recaptcha.generateHtmlCode() | raw }}
		</div>
    	{{ form_row(form.execute) }}
    {{ form_end(form) }}
</div>
{% endblock %}