{% extends 'WioEdkBundle:Public:layout.html.twig' %}

{% block page_content %}
    <section class="main container">
        <div class="col-md-12 content center">
            {% block completed_title %}
                <h1>{{ 'Thank you!' | trans([], 'public') }}</h1>
            {% endblock %}
        </div>
    </section>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block completed_content %}{% endblock %}
            <div class="panel">
                <a class="btn btn-lg btn-block btn-social btn-facebook" href="{{ facebook_fanpage_url | raw }}"
                   target="_blank">
                    <i class="fa fa-facebook"></i> {{ 'Facebook' | trans([], 'public') }}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ action_1percent_url | raw }}" target="_blank">
                <img width="100%" src="{{ asset('img/edk/www-jeden.png') }}">
            </a>
        </div>
    </div>
{% endblock %}
