{% extends 'WioEdkBundle:Public:public-completed.html.twig' %}

{% block completed_content %}
    <p>{{ 'RegistrationSuccessfulText' | trans([], 'public') }}</p>
    <p>{{ 'AccessKeyInformation' | trans([], 'public') }}</p>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ 'Your access code' | trans([], 'public') }}: <span style="font-size:10px">{{ accessKey }}</span>
        </div>
    </div>

{% endblock %}
{% block completed_html %}
    <div class="row">
        {{ registrationCompletedAdditional | raw }}
    </div>
{% endblock %}